                    {{~ # Embeds ~}}
                    {{~ for embed in message.Embeds ~}}
                        <div class="chatlog__embed">
                            <div class="chatlog__embed-color-pill" style="background-color: rgba({{ embed.Color | FormatColor }})"></div>
                            <div class="chatlog__embed-content-container">
                                <div class="chatlog__embed-content">
                                    <div class="chatlog__embed-text">
                                        {{~ # Author ~}}
                                        {{~ if embed.Author ~}}
                                            <div class="chatlog__embed-author">
                                                {{~ if embed.Author.IconUrl ~}}
                                                    <img class="chatlog__embed-author-icon" src="{{ embed.Author.IconUrl }}" />
                                                {{~ end ~}}

                                                {{~ if embed.Author.Name ~}}
                                                    <span class="chatlog__embed-author-name">
                                                        {{~ if embed.Author.Url ~}}
                                                            <a class="chatlog__embed-author-name-link" href="{{ embed.Author.Url }}">{{ embed.Author.Name | html.escape }}</a>
                                                        {{~ else ~}}
                                                            {{ embed.Author.Name | html.escape }}
                                                        {{~ end ~}}
                                                    </span>
                                                {{~ end ~}}
                                            </div>
                                        {{~ end ~}}

                                        {{~ # Title ~}}
                                        {{~ if embed.Title ~}}
                                            <div class="chatlog__embed-title">
                                                {{~ if embed.Url ~}}
                                                    <a class="chatlog__embed-title-link" href="{{ embed.Url }}">{{ embed.Title | FormatContent }}</a>
                                                {{~ else ~}}
                                                    {{ embed.Title | FormatContent }}
                                                {{~ end ~}}
                                            </div>
                                        {{~ end ~}}

                                        {{~ # Description ~}}
                                        {{~ if embed.Description ~}}
                                            <div class="chatlog__embed-description">{{ embed.Description | FormatContent true }}</div>
                                        {{~ end ~}}

                                        {{~ # Fields ~}}
                                        {{~ if embed.Fields | array.size > 0 ~}}
                                            <div class="chatlog__embed-fields">
                                                {{~ for field in embed.Fields ~}}
                                                    <div class="chatlog__embed-field {{ if field.IsInline }} chatlog__embed-field--inline {{ end }}">
                                                        {{~ if field.Name ~}}
                                                            <div class="chatlog__embed-field-name">{{ field.Name | FormatContent }}</div>
                                                        {{~ end ~}}
                                                        {{~ if field.Value ~}}
                                                            <div class="chatlog__embed-field-value">{{ field.Value | FormatContent true }}</div>
                                                        {{~ end ~}}
                                                    </div>
                                                {{~ end ~}}
                                            </div>
                                        {{~ end ~}}
                                    </div>

                                    {{~ # Thumbnail ~}}
                                    {{~ if embed.Thumbnail ~}}
                                        <div class="chatlog__embed-thumbnail-container">
                                            <a class="chatlog__embed-thumbnail-link" href="{{ embed.Thumbnail.Url }}">
                                                <img class="chatlog__embed-thumbnail" src="{{ embed.Thumbnail.Url }}" />
                                            </a>
                                        </div>
                                    {{~ end ~}}
                                </div>    

                                {{~ # Image ~}} 
                                {{~ if embed.Image ~}}
                                    <div class="chatlog__embed-image-container">
                                        <a class="chatlog__embed-image-link" href="{{ embed.Image.Url }}">
                                            <img class="chatlog__embed-image" src="{{ embed.Image.Url }}" />
                                        </a>
                                    </div>
                                {{~ end ~}}

                                {{~ # Footer ~}}
                                {{~ if embed.Footer || embed.Timestamp ~}}
                                    <div class="chatlog__embed-footer">
                                        {{~ if embed.Footer ~}}
                                            {{~ if embed.Footer.Text && embed.Footer.IconUrl ~}}
                                                <img class="chatlog__embed-footer-icon" src="{{ embed.Footer.IconUrl }}" />
                                            {{~ end ~}}
                                        {{~ end ~}}
                                        
                                        <span class="chatlog__embed-footer-text">
                                            {{~ if embed.Footer ~}}
                                                {{~ if embed.Footer.Text ~}}
                                                    {{ embed.Footer.Text | html.escape }}
                                                    {{ if embed.Timestamp }} • {{ end }}
                                                {{~ end ~}}
                                            {{~ end ~}}

                                            {{~ if embed.Timestamp ~}}
                                                {{ embed.Timestamp | FormatDate | html.escape }}
                                            {{~ end ~}}
                                        </span>
                                    </div>
                                {{~ end ~}}
                            </div>
                        </div>
                    {{~ end ~}}

                    {{~ # Reactions ~}}
                    {{~ if message.Reactions | array.size > 0 ~}}
                        <div class="chatlog__reactions">
                            {{~ for reaction in message.Reactions ~}}
                                <div class="chatlog__reaction">
                                    <span class="chatlog__reaction-emoji">
                                        {{~ # Custom emoji ~}}
                                        {{~ if reaction.EmojiId ~}}
                                            <img class="emoji emoji--small" title="{{ reaction.EmojiName }}" src="https://cdn.discordapp.com/emojis/{{ reaction.EmojiId }}.png" />
                                        {{~ # Default emoji ~}}
                                        {{~ else ~}}
                                            {{ reaction.EmojiName }}
                                        {{~ end ~}}
                                    </span>
                                    <span class="chatlog__reaction-count">{{ reaction.Count }}</span>
                                </div>
                            {{~ end ~}}
                        </div>
                    {{~ end ~}}
