{% extends 'base.html' %}

{% block title %}{{ channels[0].guild.name }} - Channel list{% endblock %}

{% block content %}
<table class="u-full-width">
    <thead>
        <th>Name</th>
        <th>ID</th>
        <th>Info</th>
    </thead>
    <tbody>
        {% for channel in channels %}
        <tr>
            <td><a href="/channels/{{ channel.id }}">#{{ channel.name }}</a></td>
            <td>{{ channel.id }}</td>
            <td><a href="/channels/{{ channel.id }}/info">More</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}