{% extends 'base.html' %}

{% block title %}{{ channels[0].guild.name }} - Channel list{% endblock %}

{% block content %}
<table class="u-full-width">
    <thead>
        <th>Name</th>
        <th>ID</th>
        <th>Info</th>
    </thead>
    <tbody>
        {% for channel in channels %}
        <tr>
            <td><a href="{{ url_for('list_all_logged_days_for_channel', guild_id=channels[0].guild.id, channel_id=channel.id) }}">#{{ channel.name }}</a></td>
            <td>{{ channel.id }}</td>
            <td><a href="{{ url_for('list_channel_info', guild_id=channels[0].guild.id, channel_id=channel.id)}}">More</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}