{% extends 'base.html' %}

{% block title %}DMs{% endblock %}

{% block content %}
<table class="u-full-width">
    <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>User page</th>
        </tr>
    </thead>
    <tbody>
        {% for dm in dms %}
        <tr>
            <td><img class="table-image" src="{{ dm.remote_user.avatar }}" /></td>
            <td><a href="{{ dm.id }}">{{ dm.remote_user.name }}#{{ '{0:04d}'.format(dm.remote_user.discriminator) }}</a></td>
            <td><a href="/users/{{ dm.remote_user.id }}">User page</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}