{% extends 'base.html' %}

{% block title %}Guilds{% endblock %}

{% block content %}
<table class="u-full-width">
    <thead>
        <tr>
            <th>Icon</th>
            <th>Guild</th>
            <th>Owner</th>
            <th>ID</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for guild in guilds %}
        <tr>
            <td><img class="u-full-width table-image" src="{{ guild.icon_url }}" /></td>
            <td><a href="{{ guild.id }}">{{ guild.name }}</a></td>
            <td><a href="/users/{{ guild.owner.id }}">{{ guild.owner.name }}#{{ '{0:04d}'.format(guild.owner.discriminator) }}</a></td>
            <td>{{ guild.id }}</td>
            <td><a href="{{ guild.id }}/info">More</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}