{% extends 'base.html' %}

{% block title %} #root {% endblock %}
{% block content %}
<ul>
    <li><a href="/dms/">DMs</a></li>
    <li><a href="/guilds/">Guilds</a></li>
    <li><a href="/search/">Search</a></li>
</ul>
{% endblock %}