{% extends 'base.html' %}

{% block title %} #root {% endblock %}
{% block content %}
<h2>Statistics</h2>
<p>This database has kept track of <b>{{ total_users }} users</b>, <b>{{ total_guilds }} guilds</b>, <b>{{ total_channels }} channels</b>, <b>{{ total_messages }} messages</b> send (of which <b>{{ total_deletions }}</b> have been deleted).</p>
<h2>Subendpoints</h2>
<ul>
    <li><a href="{{ url_for('list_all_dms') }}">DMs</a></li>
    <li><a href="{{ url_for('list_all_guilds') }}">Guilds</a></li>
    <li><a href="{{ url_for('show_users') }}">Users</a></li>
    <li><a href="{{ url_for('search_overview') }}">Search</a></li>
</ul>
{% endblock %}