{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}
<h3>{{ user.name }}#{{ user.discriminator }}</h3>

<div class="row">
    <div class="three columns">
        <img class="u-max-full-width" src="{{ user.avatar }}" />
    </div>
    <div class="four columns">
        <p>ID: {{ user.id }}<br>
        Username: {{ user.name }}<br>
        Discriminator: {{ '{0:04d}'.format(user.discriminator) }}</p>
    </div>
</div>
<h3>Member of servers</h3>
<table class="u-full-width">
    <thead>
        <tr>
            <th>#</th>
            <th>Guild name</th>
            <th>Membership details</th>
        </tr>
    </thead>
    <tbody>
        {% for membership in members %}
        <tr>
            <td><img class="u-full-width table-image" src="{{ membership.guild.icon_url }}" /></td>
            <td><a href="/guilds/{{ membership.guild_id }}/">{{ membership.guild.name }}</a></td>
            <td><a href="{{ membership.guild_id }}">Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}