{% extends 'base.html' %}

{% block title %}Member details{% endblock %}

{% block content %}
<h3>Member details for guild - {{ guild.name }}</h3>

{% if join_leave_audits %}
<h4>Join history</h4>

<table class="u-full-width">
    <thead>
        <th>Join/Leave</th>
        <th>Date</th>
    </thead>
    <tbody>
        {% for audit in join_leave_audits %}
        <tr>
            <td>{% if audit.member_joined %}Joined{% else %}Left{% endif %}</td>
            <td>{{ audit.event_at | datetime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if ban_audits %}
<h4>Ban history</h4>

<table class="u-full-width">
    <thead>
        <th>Banned/Unbanned</th>
        <th>Date</th>
    </thead>
    <tbody>
        {% for audit in ban_audits %}
        <tr>
            <td>{% if audit.member_was_banned %}Banned{% else %}Unbanned{% endif %}</td>
            <td>{{ audit.event_at | datetime }}</td>
        <tr/>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if roles_audit or current_roles %}
<h4>Roles</h4>
{% if current_roles %}
<h5>Current roles</h5>
<table class="u-full-width">
    <thead>
        <th>Role name</th>
    </thead>
    <tbody>
        {% for role in current_roles %}
        <tr>
        <td><a href="/roles/{{ role.role_id }}">{{ role.role.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if roles_audit %}
<h5>Audited roles</h5>
<table class="u-full-width">
        <thead>
            <th>Added/Removed</th>
            <th>Role name</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for audit in roles_audit %}
            <tr>
                <td>{% if audit.role_was_added %}Added{% else %}Removed{% endif %}</td>
                <td><a href="/roles/{{ audit.role.id }}">{{ audit.role.name }}</a></td>
                <td>{{ audit.event_at | datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}